body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}


.viewer-row,
.beam-text {
  position: relative;
  z-index: 1; 
}


model-viewer {
  width: 180px;
  height: 160px;
}


.beam {
   position: fixed;           
  top: 50%;                  
  left: 50%;                 
  transform: translate(-50%, -50%); 
  width: 100vw;              
  height: auto;              
  z-index: -1;               
  pointer-events: none;
}

.beam-img {
  /* width: 100%; */
  height: auto;
  justify-content: center;
  object-fit: cover; 
  z-index: -1;
  transform: translate(-32%, -48%);
  opacity: 0.8;
}


.model-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   transform: translateY(300px);
}

/* efecto para cuando el modelo este bajo la luz */
.model-wrap.abducting model-viewer {
  filter: brightness(2) contrast(1.2) drop-shadow(0 0 20px #00ff80);
  transform: translateY(-20px);
  transition: 0.4s ease;
}

.ufo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 120px;
  pointer-events: none;
  z-index: 9999;
}

.ufo-top{
  width: 140px;
  height: 45px;
  /* background:#222; */
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 25px rgba(0,255,0,0.5);
}

/* .beam{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) rotateX(25deg);
  width: 150px;
  height: 0px;
  background: linear-gradient(to bottom, rgba(0,255,234,0.5), rgba(0,255,234,0.05));
  border-radius: 50% 50% 0 0;
  filter: blur(12px);
  opacity:0;
  z-index: 1;
  pointer-events: none;
  transition: height 0.4s ease, opacity 0.4s ease;
} */
.beam {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px; /* ajusta según el tamaño del haz */
  height: 400px;
  opacity: 1;
  z-index: 1;
}

.beam.active{

  height: 320px;
  opacity: 1;
  animation: beamPulse 1.5s infinite alternate;;
}
.ufo .beam {
  position: absolute;
  top: 50px; /* ajusta según tu UFO */
  left: 50%;
  transform: translateX(-50%) rotateX(25deg);
  width: 150px;
  height: 300px;
  background: linear-gradient(to bottom, rgba(0,255,234,0.5), rgba(0,255,234,0.1));
  border-radius: 50% 50% 0 0;
  filter: blur(8px);
  z-index: 1;
  pointer-events: none;
}
.beam-text {
  text-align: center;
  color: #00ff00;
  font-family: 'Orbitron', sans-serif;
  animation: beam-flicker 1.5s infinite alternate;
  transform: translateY(150px);

}
.beam-text .main-title {
  font-size: 24px;
  font-weight: bold;
  color:#00ff00;
  margin-bottom: 15px; /* separación con el resto */
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}
.beam-text .sub-text {
  font-size: 16px;
  line-height: 1.5;
  color: #00ff80;
  /* text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000; */
}

@keyframes beam-flicker {
  0% { opacity: 0.7; text-shadow: 0 0 5px rgb(139, 34, 2), 0 0 10px #00ff00, 0 0 20px #00ff00; }
  50% { opacity: 1; text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; }
  100% { opacity: 0.8; text-shadow: 0 0 7px #00ff00, 0 0 15px #00ff00, 0 0 25px #00ff00; }
}

.beam-buttons {
  text-align: center;
  margin-top: 20px;
  z-index: 1;
  transform: translate(5%, -47%);
}

.beam-btn {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #00ff00;
  background: transparent;
  border: 2px solid #00ff00;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px #00ff26, 0 0 20px #00ff26;
}
.beam-btn:hover {
  background: #00ff80;
  color: black;
  box-shadow: 0 0 20px #00ff80, 0 0 40px #00ff80;
}


/* Responsive */

/* Media query para pantalla pequeña */

@media (max-width: 600px) {
  .viewer-row {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  model-viewer {
    width: 100px;
    height: 160px;
  }
}


@media (max-width: 600px) {
  .beam-img {
    width: 100%;
    height: auto;
    transform: translate(-1%, -25%);
    opacity: 0.7;
  }

  .beam {
    width: 100vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
    .model-wrap {
    transform: translateY(250px); /* más abajo */
    flex-direction: row;
    display: flex;
    gap: 1rem;
    padding-bottom: 300px; 
  }

  model-viewer {
    width: 120px;
    height: 140px;
  }

}

@media (max-width: 600px) {
  .beam-text {
    transform: translateY(50px);
  }
  .beam-text .p{
    font-size: 14px;
    margin: 10px;
  }
}
  