body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}


.viewer-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.1rem;
  height: 65vh;
}


model-viewer {
  width: 180px;
  height: 160px;
}






.beam {
  position: absolute;
  top: 20px; /* más cerca del UFO */
  left: 50%;
  transform: translateX(-50%);
  width: 1000px; /* más ancho */
  height: 900px; /* más alto */
  opacity: 1;
  z-index: 1;
}

.beam-img {
  width: 100%;
  height: 90px;
  object-fit: cover; 
}





.model-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* efecto para cuando el modelo este bajo la luz */
.model-wrap.abducting model-viewer {
  filter: brightness(2) contrast(1.2) drop-shadow(0 0 20px #00ff80);
  transform: translateY(-20px);
  transition: 0.4s ease;
}

.ufo{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 120px;
  pointer-events: none;
  z-index: 9999;
}

.ufo-top{
  width: 140px;
  height: 45px;
  background:#222;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 25px rgba(0,255,0,0.5);
}

/* .beam{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) rotateX(25deg);
  width: 150px;
  height: 0px;
  background: linear-gradient(to bottom, rgba(0,255,234,0.5), rgba(0,255,234,0.05));
  border-radius: 50% 50% 0 0;
  filter: blur(12px);
  opacity:0;
  z-index: 1;
  pointer-events: none;
  transition: height 0.4s ease, opacity 0.4s ease;
} */
.beam {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px; /* ajusta según el tamaño del haz */
  height: 400px;
  opacity: 1;
  z-index: 1;
}

.beam.active{

  height: 320px;
  opacity: 1;
  animation: beamPulse 1.5s infinite alternate;;
}
.ufo .beam {
  position: absolute;
  top: 50px; /* ajusta según tu UFO */
  left: 50%;
  transform: translateX(-50%) rotateX(25deg);
  width: 150px;
  height: 300px;
  background: linear-gradient(to bottom, rgba(0,255,234,0.5), rgba(0,255,234,0.1));
  border-radius: 50% 50% 0 0;
  filter: blur(8px);
  z-index: 1;
  pointer-events: none;
}
.beam-text {
  text-align: center;
  color: #00ffe0;
  font-family: 'Orbitron', sans-serif;
  animation: beam-flicker 1.5s infinite alternate;
  transform: translateY(-50px);
}
.beam-text .main-title {
  font-size: 24px;
  font-weight: bold;
  color:#b91e1e;
  margin-bottom: 15px; /* separación con el resto */
  text-shadow: 0 0 10px #b91e1e, 0 0 20px #b91e1e;
}
.beam-text .sub-text {
  font-size: 16px;
  line-height: 1.5;
  color: #b91e1e;
  /* text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000; */
}

@keyframes beam-flicker {
  0% { opacity: 0.7; text-shadow: 0 0 5px rgb(139, 34, 2), 0 0 10px #b91e1e, 0 0 20px #b91e1e; }
  50% { opacity: 1; text-shadow: 0 0 10px #b91e1e, 0 0 20px #b91e1e, 0 0 30px #b91e1e; }
  100% { opacity: 0.8; text-shadow: 0 0 7px #b91e1e, 0 0 15px #b91e1e, 0 0 25px #b91e1e; }
}

.beam-text.active {
  opacity: 1;
  transform: translateX(-50%) translateY(20px); /* lo bajas un poco */
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Responsive */

/* Media query para pantalla pequeña */

@media (max-width: 600px) {
  .viewer-row {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  model-viewer {
    width: 100px;
    height: 160px;
  }
}
